<div class="site-wrapper-inner">
	<div class="cover-container">

		<!-- Header -->
		<div class="masthead clearfix">
			<div class="inner">
				<h3 class="masthead-brand">Hello Athelete!</h3>
				<nav>
					<ul class="nav masthead-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a routerLink="/features" routerLinkActive="active" href="/features">Features</a></li>
					<li><a href="#">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
		
		<!-- Content -->
		<div class="site-content inner cover">
			<router-outlet></router-outlet>
		</div>

		<!-- Footer -->
		<div class="mastfoot">
			Use at your own risk
		</div>
	</div>
</div>