
<div *ngIf="!authService.loggedIn()" class="anonymous">
	<h1 class="cover-heading">Start your morning with a smile</h1>
	<p class="lead">Subscribe here to receive a daily wake up greeting.</p>



	<p class="lead">
	<a href="#" *ngIf="!authService.loggedIn()" (click)="redirectToSubscribe()" class="btn btn-lg btn-default">Connect FitBit</a>
	<a href="#" *ngIf="authService.loggedIn()" (click)="authService.getProfile()" class="btn btn-lg btn-default">Get Profile</a>
	<a href="#" *ngIf="authService.loggedIn()" class="btn btn-lg btn-default">Subscribe via email</a>
	</p>
</div>	

<div *ngIf="authService.loggedIn() && this.user" class="loggedin">
	<h1 class="cover-heading">Hello {{ this.user.displayName }} </h1>
	<img src="{{ this.user.avatar }}" />
	<p *ngIf="this.user.email" class="lead">
		You are currently receiving notifications at {{ user.email }}
	</p>
	<div *ngIf="!this.user.email"> 
		<p class="lead">
			You are currently receiving notifications at {{ user.email }}
		</p>
		<p class="lead">
			<a href="#" (click)="authService.getProfile()" class="btn btn-lg btn-default">Get Profile</a>
			<a href="#" class="btn btn-lg btn-default">Subscribe via email</a>
		</p>

	</div>
	<a href="#" (click)="authService.logout()" class="btn btn-lg btn-default">Logout</a>
</div>	

<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
