
<div *ngIf="!authService.loggedIn()" class="anonymous">
	<h1 class="cover-heading">Start your morning with a smile</h1>
	<p class="lead">Subscribe here to receive a daily wake up greeting.</p>

	<p class="lead">
	<a href="#" (click)="redirectToSubscribe()" class="btn btn-lg btn-default">Connect FitBit</a>
	</p>
</div>	

<div *ngIf="authService.loggedIn() && this.user" class="loggedin">
	<h1 class="cover-heading">Hello {{ this.user.displayName }} </h1>
	<img src="{{ this.user.avatar }}" />
	<p *ngIf="this.user.email" class="lead">
		You are currently receiving notifications at {{ user.email }}
	</p>
	<div *ngIf="!this.user.email"> 
		<p class="lead">
			Enter your email and you're all set to make your mornings great!
		</p>
		
		<form *ngIf="active" (ngSubmit)="onSubmit()" #emailForm="ngForm">
	      <div class="form-group">
	        <input id="email" type="email" class="form-control" 
	               [(ngModel)]="this.dummyUser.email" name="email"
	               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                   #email="ngModel" id="email" required>
            <div [hidden]="email.valid || email.pristine" 
	             class="alert alert-danger">
	           <p *ngIf="email.errors && email.errors.required">Email is required.</p>
               <p *ngIf="email.errors && email.errors.pattern">Email format is invalid.</p>
        	</div>
	      </div>
	      <button type="submit" 
	      		[disabled]="!emailForm.form.valid"
	      		class="btn btn-lg btn-default">Submit Email</button>
	    </form>

	</div>
	<a href="#" (click)="authService.logout()" class="btn btn-lg btn-default">Logout</a>
</div>	

<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
